name: fks_app
description: "Kisan Sahayak - Agriculture Support Platform"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any
  shared_preferences: ^2.2.2
  provider: ^6.1.1
  http: ^1.1.0
  geolocator: ^11.0.0
  geocoding: ^3.0.0
  permission_handler: ^11.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/
    - assets/lang/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/images/kisan_sahayk_logo.png"
  adaptive_icon_background: "#2E6B3F"
  adaptive_icon_foreground: "assets/images/kisan_sahayk_logo.png"
  remove_alpha_ios: true
